@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.float-img{
    float: right;
    top:10%;
    height:80%;
    width:40%;
   position: fixed;
   left:60%;
   }
   .class1-u{
       position:fixed;
       left:8%;
       bottom: 45%;
       font-size:x-large;
   }
   .class2-u{
       position:fixed;
       left:8%;
       bottom: 35%;
       font-size: x-large;
   }
   .class3-u{
       position:fixed;
       left:8%;
       bottom: 30%;
       font-size: x-large;
   }
   .class4-u{
       position: fixed;
       left:8%;
       bottom:50%;
       font-size: x-large;
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .class-u{
       position:fixed;
       left:5%;
       bottom: 70%;
       font-size: xx-large;
       color:darkblue;
       font-family:Verdana, Geneva, Tahoma, sans-serif;

   }
   .cls{
       position: fixed;
       left:20%;
       top:10%;
       font-size:xx-large;

   }
   .button-u{
    background-color:rgb(79, 147, 206);
  position: fixed;
  color: aliceblue;
  border-radius: 25px;
  border-color: rgb(10, 131, 237);
  border-width: 5px;
  height: 50px;
  width: 200px;
  font-size: large;
  left:20%;
  bottom:20%;
}